#mdbody {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
  background-color: #24292e;
  overflow: initial;
  box-sizing: border-box;
  word-wrap: break-word;
}
#mdbody > :first-child {
  margin-top: 0;
}
#mdbody h1,
#mdbody h2,
#mdbody h3,
#mdbody h4,
#mdbody h5,
#mdbody h6 {
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 16px;
  color: #fff;
}
#mdbody h1 {
  font-size: 2.25em;
  font-weight: 300;
  padding-bottom: 0.3em;
}
#mdbody h2 {
  font-size: 1.75em;
  font-weight: 400;
  padding-bottom: 0.3em;
}
#mdbody h3 {
  font-size: 1.5em;
  font-weight: 500;
}
#mdbody h4 {
  font-size: 1.25em;
  font-weight: 600;
}
#mdbody h5 {
  font-size: 1.1em;
  font-weight: 600;
}
#mdbody h6 {
  font-size: 1em;
  font-weight: 600;
}
#mdbody h1,
#mdbody h2,
#mdbody h3,
#mdbody h4,
#mdbody h5 {
  font-weight: 600;
}
#mdbody h5 {
  font-size: 1em;
}
#mdbody h6 {
  color: #a3a3a3;
}
#mdbody strong {
  color: #fff;
}
#mdbody del {
  color: #a3a3a3;
}
#mdbody a:not([href]) {
  color: inherit;
  text-decoration: none;
}
#mdbody a {
  color: #08c;
  text-decoration: none;
}
#mdbody a:hover {
  color: #00a3f5;
  text-decoration: none;
}
#mdbody img {
  max-width: 100%;
}
#mdbody > p {
  margin-top: 0;
  margin-bottom: 16px;
  word-wrap: break-word;
}
#mdbody > ol,
#mdbody > ul {
  margin-bottom: 16px;
}
#mdbody ol,
#mdbody ul {
  padding-left: 2em;
}
#mdbody ol.no-list,
#mdbody ul.no-list {
  padding: 0;
  list-style-type: none;
}
#mdbody ol ol,
#mdbody ol ul,
#mdbody ul ol,
#mdbody ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
#mdbody li {
  margin-bottom: 0;
}
#mdbody li.task-list-item {
  list-style: none;
}
#mdbody li > p {
  margin-top: 0;
  margin-bottom: 0;
}
#mdbody .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.8em;
  vertical-align: middle;
}
#mdbody .task-list-item-checkbox:hover {
  cursor: pointer;
}
#mdbody blockquote {
  margin: 16px 0;
  font-size: inherit;
  padding: 0 15px;
  color: #a3a3a3;
  background-color: #363d45;
  border-left: 4px solid #48525c;
}
#mdbody blockquote > :first-child {
  margin-top: 0;
}
#mdbody blockquote > :last-child {
  margin-bottom: 0;
}
#mdbody hr {
  height: 4px;
  margin: 32px 0;
  background-color: #48525c;
  border: 0 none;
}
#mdbody table {
  margin: 10px 0 15px 0;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
#mdbody table th {
  font-weight: 700;
  color: #fff;
}
#mdbody table td,
#mdbody table th {
  border: 1px solid #48525c;
  padding: 6px 13px;
}
#mdbody dl {
  padding: 0;
}
#mdbody dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 700;
}
#mdbody dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
#mdbody code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.85em;
  color: #fff;
  background-color: #363d45;
  border-radius: 3px;
  padding: 0.2em 0;
}
#mdbody code::after,
#mdbody code::before {
  letter-spacing: -0.2em;
  content: "\00a0";
}
#mdbody pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: 0 0;
  border: 0;
}
#mdbody .highlight {
  margin-bottom: 16px;
}
#mdbody .highlight pre,
#mdbody pre {
  padding: 1em;
  overflow: auto;
  line-height: 1.45;
  border: #48525c;
  border-radius: 3px;
}
#mdbody .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
#mdbody pre code,
#mdbody pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
#mdbody pre code:after,
#mdbody pre code:before,
#mdbody pre tt:after,
#mdbody pre tt:before {
  content: normal;
}
#mdbody blockquote,
#mdbody dl,
#mdbody ol,
#mdbody p,
#mdbody pre,
#mdbody ul {
  margin-top: 0;
  margin-bottom: 16px;
}
#mdbody kbd {
  color: #fff;
  border: 1px solid #48525c;
  border-bottom: 2px solid #3a424b;
  padding: 2px 4px;
  background-color: #363d45;
  border-radius: 3px;
}
@media print {
  #mdbody {
    background-color: #24292e;
  }
  #mdbody h1,
  #mdbody h2,
  #mdbody h3,
  #mdbody h4,
  #mdbody h5,
  #mdbody h6 {
    color: #fff;
    page-break-after: avoid;
  }
  #mdbody blockquote {
    color: #a3a3a3;
  }
  #mdbody pre {
    page-break-inside: avoid;
  }
  #mdbody table {
    display: table;
  }
  #mdbody img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  #mdbody code,
  #mdbody pre {
    word-wrap: break-word;
    white-space: pre;
  }
}
